.container.bg-faded
  p.pt-4
  .card.border-muted.shadow.col-lg-6.color-auth
    .card-header.bg-transparent.border-muted
      h2= t(".resend_confirmation_instructions")
      = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
        = f.error_notification
        = f.full_error :confirmation_token
        .form-inputs
          = f.input :email,
            required: true,
            autofocus: true,
            value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
            input_html: { autocomplete: "email" }
        .form-actions
          = f.submit t(".resend_confirmation_instructions"), class: "btn btn-primary"
      = render "devise/shared/links"
