.container.bg-faded
  p.pt-4
  .card.border-muted.shadow.col-lg-6.color-auth
    .card-header.bg-transparent.border-muted
      h2= t(".title", resource: resource.model_name.human)
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = f.error_notification
        .form-inputs
          = f.input :login,
            hint: t(".leave_blank_if_you_don_t_want_to_change_it"),
            required: true,
            input_html: {autocomplete: "login"}
          = f.input :email, required: true, autofocus: true
          - if devise_mapping.confirmable? && resource.pending_reconfirmation?
            div= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email)
          = f.input :password,
            hint: t(".leave_blank_if_you_don_t_want_to_change_it"),
            required: false,
            input_html: { autocomplete: "new-password" }
          = f.input :password_confirmation,
            required: false,
            input_html: { autocomplete: "new-password" }
          = f.input :current_password,
            hint: t(".we_need_your_current_password_to_confirm_your_changes"),
            required: true,
            input_html: { autocomplete: "current-password" }
        .form-actions
          = f.submit t(".update"), class: "btn btn-primary"
      h3= t(".cancel_my_account")
      p
        = t(".unhappy")
        = button_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete
      = link_to t("devise.shared.links.back"), :back