.container.bg-faded
  p.pt-4
  .card.border-muted.shadow.col-lg-6.color-auth
    .card-header.bg-transparent.border-muted
      h2= t(".sign_up")
      = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = f.error_notification
        .form-inputs
          = f.input :login,
            required: true,
            autofocus: true,
            input_html: {autocomplete: "login"}
          = f.input :email,
            required: true,
            autofocus: true,
            input_html: { autocomplete: "email" }
          = f.input :password,
            required: true,
            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
            input_html: { autocomplete: "new-password" }
          = f.input :password_confirmation,
            required: true,
            input_html: { autocomplete: "new-password" }
        .form-actions
          = f.submit t(".sign_up"), class: "btn btn-primary"
      = render "devise/shared/links"
