= f.error_notification
= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
.form-inputs
  = f.input :title,
      placeholder: t('activerecord.models.precedence.attributes.title.placeholder'),
      required: true,
      label: t('precedence_name')