= simple_form_for(@precedence, html: { class: 'col-sm-12' }) do |f|
  .container.bg-faded
    p.pt-4
    .card.border-muted.shadow.col-lg-6.color-precedences
      .card-header.bg-transparent.border-muted
        h4 = t('activerecord.models.precedence.edit')
      .card-body.text-primary
        = render partial: "form", locals: { f: f }
      .card-footer.bg-transparent.border-muted
        .row
          .col-2
            = link_to t('cancel'), precedences_path, class: 'btn btn-danger'
          .col-10.text-right
            p = f.submit t('save')