.container.color-task
  p.pt-4
  .card.border-muted.lg-12.color-precedences
    h2.text-center
      = t('activerecord.models.precedence.one')
  .container.bg-faded
    - @precedences.each do |precedence|
      p.pt-2
      .card.border-muted.lg-12.color-project
        .card-body.text-primary
          .row
            .col-1
              i.handle.fas.fa-tools.fa-2x
            .col-9
              a.card-link.text-white href="#"
                h2
                  = precedence.title
            .col-2.text-right
              span
                = link_to raw('<i class="fas fa-pencil-alt fa-2x"></i>'), edit_precedence_path(precedence),
                    class: 'btn btn-p text-primary',
                    title: t('edit')
                i.pl-1.pr-1
                | |
                i.pl-1.pr-1
                = link_to raw('<i class="fas fa-trash-alt fa-2x"></i>'), precedence_path(precedence),
                    class: 'btn btn-p text-primary',
                    method: :delete, data: {confirm: t('confirm')},
                    title: t('delete')
    .container
      p.pt-4
      .btn-toolbar.justify-content-between role="toolbar"
        = link_to raw('<i class="fas fa-home"></i> Home'), root_path, class: 'btn btn-warning'
        = link_to raw('<i class="i fa fa-plus fa-lg"></i> Add'), new_precedence_path, class: 'btn btn-primary btn-right'
      p.pt-4