.container.bg-faded
  p.pt-4
  .card.border-muted.shadow.col-lg-6.color-auth
    .card-header.bg-transparent.border-muted
      h2= t(".change_your_password")
      = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
        = f.error_notification
        = f.input :reset_password_token, as: :hidden
        = f.full_error :reset_password_token
        .form-inputs
          = f.input :password,
            label: t(".new_password"),
            required: true,
            autofocus: true,
            hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
            input_html: { autocomplete: "new-password" }
          = f.input :password_confirmation,
            label: t(".confirm_new_password"),
            required: true,
            input_html: { autocomplete: "new-password" }
        .form-actions
          = f.submit t(".change_my_password"), class: "btn btn-primary"
      = render "devise/shared/links"
