button.btn.btn-p.text-primary data-target="#AuthUser" data-toggle="modal" type="button"
  i.fas.fa-user.fa-2x aria-hidden="true"
/! Modal
#AuthUser.modal.fade aria-hidden="true" aria-labelledby="AuthUserLabel" role="dialog" tabindex="-1"
  .modal-dialog.modal-dialog-centered.modal-lg role="document"
    .modal-content.color-auth
      .modal-header
        .container.auth_title
          h2
            = current_user.login if user_signed_in?
          button.close aria-label="Close" data-dismiss="modal" type="button"
            span aria-hidden="true"  ×
      .modal-body#AuthUserLabel
        .container.auth_body
          = link_to  raw('<i class="fas fa-user-times fa-7x"></i>'), destroy_user_session_path,
                class: 'btn btn-p text-primary',
                method: :delete,
                title: t("devise.sessions.destroy.log_out")
      .modal-footer
        .container.auth_footer
          h5
            = t('devise.registrations.auth')