.box.box-danger
  .box-header.with-border
    h5 = t('search')
  .box-body
    .row
      .col-xs-3
        = search_form_for @search, builder: SimpleForm::FormBuilder do |f|
          = f.input :title_cont,
              class: 'form-control',
              required: false,
              label: false,
              placeholder: t('activerecord.models.project.attributes.search.placeholder')
          = f.input :tasks_title_cont,
              class: 'form-control',
              required: false,
              label: false,
              placeholder: t('activerecord.models.task.attributes.search.title.placeholder')
          = f.input :tasks_description_cont,
              class: 'form-control',
              required: false,
              label: false,
              placeholder: t('activerecord.models.task.attributes.search.description.placeholder')
          .btn-toolbar.justify-content-between role="toolbar"
            = f.submit t('search'), class: 'btn btn-primary'
            = link_to I18n.t('clear'), request.path, class: 'btn btn-warning btn-right'