= f.error_notification
= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?
.form-inputs
  = f.input :title,
      placeholder: t('activerecord.models.project.attributes.title.placeholder'),
      required: true,
      label: t('project_name')

  = f.association :user,
      as: :select,
      label_method: :login,
      label: t('activerecord.models.user.one'),
      include_blank: false