.container
  nav.navbar.color-navbar.mixin-flex-bar
    nav.navbar.navbar-dark
      = link_to '#search_form', role: 'button', data: {toggle: 'collapse'}, aria: {expanded: false, controls: 'search_form'} do
        i.fas.fa-search.fa-2x
    .collapse#search_form
      = render 'filter'
    nav.navbar.navbar-dark
      = link_to raw('<i class="fas fa-tools fa-2x"></i>'), precedences_path,
          class: 'btn btn-p text-primary',
          title: t('config')
    nav.navbar.navbar-dark
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link.waves-effect.waves-light
            i.fab.fa-facebook-f
        li.nav-item
          a.nav-link.waves-effect.waves-light
            i.fab.fa-instagram
    nav.navbar
      h2.text-center
        a href="/" style="text-decoration: none"
          | SIMPLE ToDo LISTS
          h5.text-white
            = current_user.login if user_signed_in?
    nav.navbar.navbar-dark
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link.waves-effect.waves-light
            i.fab.fa-twitter
        li.nav-item
          a.nav-link.waves-effect.waves-light
            i.fab.fa-google-plus-g
    nav.navbar.navbar-dark
      button.navbar-toggler data-target="#lang" data-toggle="collapse" type="button"
        i.fas.fa-language.fa-2x
      #lang.collapse.navbar-collapse
        ul.navbar-nav.ml-auto
          li.nav-item
            a.nav-link class=("nav-item#{" active" if I18n.locale == :uk}")
              = link_to 'Укр', {locale: :uk}, class: 'btn btn-sm btn-outline-primary btn-block'
          li.nav-item
            a.nav-link class=("nav-item#{" active" if I18n.locale == :en}")
              = link_to 'En', {locale: :en}, class: 'btn btn-sm btn-outline-primary btn-block'
    nav.navbar
      span#inputGroup-sizing-lg
        = render 'auth_user'
