.row
  .col-12
    .input-group.input-group-lg
      .input-group-prepend
        span.input-group-text
          .custom-control.custom-checkbox
            = check_box_tag "defaultUnchecked#{task.id}", '',
                task.status.id == 4 ? true : false,
                class: 'custom-control-input'
            = label_tag "defaultUnchecked#{task.id}", '', class: 'custom-control-label'
      = text_field_tag :title, task.title,
          readonly: "true",
          class: "form-control",
          style: task.status.id == 4 ? "text-decoration: line-through" : ""
      .input-group-prepend
        span#inputGroup-sizing-lg.input-group-text.text-primary
          = render partial: 'show_task_info', locals: {project: project, task: task}
          i.pl-1.pr-1
          = link_to raw('<i class="fas fa-pen-square fa-sm"></i>'), edit_project_task_path(project, task),
                class: 'btn.btn-p.text-primary',
                title: t('edit')
          i.pl-1.pr-1
          = link_to raw('<i class="fas fa-trash fa-sm"></i>'), project_task_path(project, task),
                class: 'btn.btn-p.text-primary',
                method: :delete,
                data: {confirm: t('confirm')},
                title: t('delete')
= render partial: 'checked', locals: {project: project, task: task}
= form_for task, url: done_project_task_path(project, task) do |f|
  = f.hidden_field :status, value: task.status.id == 4 ? 2 : 4