button.btn.btn-p.text-primary data-target="#ShowTaskInfo#{task.id}" data-toggle="modal" type="button" title=t('info')
  i.far.fa-list-alt.fa-lg aria-hidden="true"
/! Modal
.modal.fade id="ShowTaskInfo#{task.id}" aria-hidden="true" aria-labelledby="ModalLabel#{task.id}" role="dialog" tabindex="-1"
  .modal-dialog.modal-dialog-centered.modal-lg role="document"
    .modal-content.color-layouts
      .modal-header
        h5.modal-title
          .row
            .col-1
              i.fas.fa-clipboard-list.fa-2x
            .col-9
              a.card-link.text-white href="#"
                h2
                  = project.title
        button.close aria-label="Close" data-dismiss="modal" type="button"
          span aria-hidden="true"  ×
      .modal-header
        h6.modal-title.text-muted id="ModalLabel#{task.id}"
          .container
            .col-6
              = t("activerecord.models.status.one")+ ":" + " " +task.status.title.to_s
            .col-6
              = t("activerecord.models.precedence.one")+ ":" + " " +task.precedence.title.to_s
            .col-6
              = t("activerecord.models.task.attributes.deadline.placeholder")+ ":" + " " +task.deadline.to_s
      .modal-body.text-muted.text-left
        .task_title_info
          = task.title
        .task_description_info
          = task.description.to_s.html_safe
      .modal-footer
        h6.modal-title.text-muted
          button.btn.btn-primary data-dismiss="modal" type="button"  Close
