= render 'header'
.container
  .container.bg-faded
    - @projects.each do |project|
      p.pt-4
      .card.border-muted.lg-12.color-project
        .card-body.text-primary id="project_#{project.id}"
          .row
            .col-1
              i.handle.fas.fa-clipboard-list.fa-2x
            .col-9
              a.card-link.text-white href="#"
                h2
                  = project.title
            .col-2.text-right
              span
                = link_to raw('<i class="fas fa-pencil-alt fa-2x"></i>'), edit_project_path(project),
                    class: 'btn btn-p text-primary',
                    title: t('edit')
                i.pl-1.pr-1
                | |
                i.pl-1.pr-1
                = link_to raw('<i class="fas fa-trash-alt fa-2x"></i>'), project_path(project),
                    class: 'btn btn-p text-primary',
                    method: :delete, data: {confirm: t('confirm')},
                    title: t('delete')
          hr
          = render partial: 'new_task', locals: {project: project}
          - project.tasks.each do |task|
            = render partial: 'index_task', locals: {project: project, task: task}
        p.pt-4
    div.text-center.btnAddToDoList
      = link_to raw('<i class="i fa fa-plus fa-lg"></i> Add TODO List'), new_project_path, class: 'btn btn-primary'
= will_paginate @projects, list_classes: %w(pagination justify-content-center),
    previous_label: '&laquo;', next_label: '&raquo;'
= render 'footer'