#notfound
  .notfound
    .notfound-404
      h1
      | 404
        h2
        | We are sorry, Page not found!
          p
          | The page you are looking for might have been removed had its name changed or is temporarily unavailable.
  = link_to raw('<i class="fas fa-home"></i> Home'), root_path, class: 'btn btn-warning'