.container.bg-faded
  p.pt-4
  .card.border-muted.shadow.col-lg-6.color-auth
    .card-header.bg-transparent.border-muted
      h2= t(".sign_in")
      = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-inputs
          = f.input :email,
            required: false,
            autofocus: true,
            input_html: { autocomplete: "email" }
          = f.input :password,
            required: false,
            input_html: { autocomplete: "current-password" }
          = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
        .form-actions
          = f.submit t(".sign_in"), class: "btn btn-primary"
      = render "devise/shared/links"
