button.btn.btn-p {
  padding: 0;
  margin: 0;
}

input[type=submit] { @extend .btn; @extend .btn-primary; }

.color-layouts {
  background: linear-gradient(90deg, #fd8355 0%, #f0576c 37%, #f79cbd 100%);
}

.color-project {
  background: linear-gradient(270deg, #cef2fa 0%, #59bfef 100%);
}

.color-navbar {
  background: linear-gradient(270deg, #59bfef 100%, #59bfef 100%);
}

.color-auth {
  background: linear-gradient(270deg, #f0613c 0%, #f0783c 100%);
}

.color-task {
  background: linear-gradient(90deg, #5041b2 0%, #7969e6 100%);
}

.color-precedences {
  background: linear-gradient(270deg, #59bfef 100%, #cef2fa 0%);
}

.header-padding {
  padding: 20px;
}

.footer-padding {
  padding: 20px;
  color: aliceblue;
}

.btnAddToDoList {
  padding: 20px;
}

.handle{
  cursor: move
}

.task_title_info {
  width: auto;
  white-space: pre-wrap;
  font-weight: bold;
  text-align: center;
}

.task_description_info {
  width: auto;
  white-space: pre-wrap;
  color: aliceblue;
}

.auth_title {
  font-weight: bold;
  padding-left: 300px;
}

.auth_body {
   padding-left: 300px;
 }

.auth_footer {
  color: aliceblue;
}